<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar" th:fragment="sidebar">
    <!-- Sidebar Menu -->
    <ul class="sidebar-menu" data-widget="tree">
        <!-- <li class="header"></li> -->
        <li><a href="/admin"><i class="fa fa-dashboard"></i> <span>메인 홈</span></a></li>
        <li class="treeview">
            <li><a href="/admin/members"><i class="fa fa-circle-o"></i> 멤버 관리</a></li>
            <li><a href="/admin/posts"><i class="fa fa-circle-o"></i> 게시글 관리</a></li>
        </li>
    </ul>
    <!-- /.sidebar-menu -->
</section>
<!-- /.sidebar -->
